<button class="btn btn-outline-dark d-lg-none m-2" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-expanded="false" aria-controls="sidebarMenu">
  ☰ Menu
</button>

<nav class="sidebar collapse d-lg-block" id="sidebarMenu">
  <h2>Admin Panel</h2>
  <ul>
    <li><a routerLink="/dashboard">🏠 Dashboard</a></li>
    <li><a routerLink="/admin/manageUsers">🏫 Users Management</a></li>
    <li><a routerLink="/admin/createSubject">📜 Subjects Management</a></li>
    <li><a routerLink="/admin/manageExams">📝 Exams Management</a></li>
  </ul>
</nav>