.examiner-layout-container {
  display: flex;
  min-height: 100vh;
  background: #f5f6fa;
  font-family: 'Poppins', sans-serif;
}

.sidebar-wrapper {
  width: 250px;
  background-color: #fff;
  border-right: 1px solid #e0e0e0;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.04);
  transition: all 0.3s ease;
}

.main-content-area {
  flex-grow: 1;
  padding: 10px 32px;
  animation: fadeIn 0.5s ease;
  overflow-y: auto;
  margin-top: 70px !important;
  background-color: #f9f9fe;
  position: relative;
  overflow: visible !important;
}

/* Responsive Adjustments */
@media (max-width: 991px) {
  .main-content-area {
    padding: 20px;
    width: 100%;
  }
  .sidebar-wrapper {
  width: 0px;
  background-color: transparent;
  border-right:none;
  box-shadow: none;
}
}

@media (min-width: 992px) {
  .sidebar-wrapper {
    width: 250px;
  }
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to   { opacity: 1; transform: translateY(0); }
}